@use './roots.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Urbanist', sans-serif;
    color: roots.$typeography-primary;
}

a {
    color: inherit;
}

input::placeholder {
    font-family: inherit;
}

p + p {
    margin-top: 1lh;
}