@use '../placeholders/roots.scss';

.header {
    background-color: roots.$primary-colour;
    color: roots.$typeography-secondary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;

    &__slogan {
        font-size: 1.2em;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__logo {
        width: 6.68rem;
        height: auto;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        list-style: none;

        &-link {
            text-decoration: none;
            text-transform: capitalize;
            position: relative;
            transition: 200ms ease;
            
            &.active::before {
                content: '';
                display: block;
                width: 110%;
                height: 2px;
                position: absolute;
                top: -.2rem;
                left: 50%;
                transform: translateX(-50%);
                background-color: roots.$secondary-colour-white;
            }
        }
    }
}