@use '../placeholders/roots.scss';
@use '../placeholders/mixins.scss';

.intro {
    background-color: roots.$secondary-colour-grey;
    padding: 3rem 1rem;
    width: 100%;
    
    &__text {
        text-align: center;
        max-width: 37rem;
        margin-inline: auto;
    }
}

.options {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    justify-content: center;
    gap: 2rem;

    &__list {
        max-width: 26rem;

        &-heading {
            font-size: 1.5em;
            font-weight: 500;
        }

        li {
            margin-left: 1rem;
        }
    }
}

.form-container {
    background-image: url('outside-2.jpg');
    width: 100vw;
    height: 36rem;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-inline: 4rem;
    z-index: 1;
    display: flex;
    align-items: end;

    @include mixins.media(600px) {
        padding-inline: 1rem;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000080;
        z-index: -1;
    }
}

.form {
    background-color: rgba(roots.$secondary-colour-grey, 0.75);
    z-index: 1;
    padding-block: 2rem 4rem;
    padding-inline: 1rem;

    @include mixins.media(400px) {
        padding-block: 1rem;
    }

    &__logo {
        width: 4.6rem;
        height: auto;
    }

    &-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin-block: 1rem 4rem;

        @include mixins.media(400px) {
            margin-block: 1rem;
            grid-template-columns: 1fr;
            width: 80vw;
        }

        label {
            display: block;
            font-size: 1em;
            color: roots.$typeography-secondary;
            font-weight: 400;
        }

        &__input {
            background: none;
            border: 2px solid roots.$primary-colour;
            padding: .3rem;
            min-width: 100%;
            color: roots.$typeography-tertiary;

            &::placeholder {
                color: roots.$typeography-tertiary
            }
        }

        &__btn {
            @include mixins.button;
            padding: .5rem 1.3rem;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}